<app-header iconClass="fa-solid fa-user" title="Profile">
    <ng-container *ngIf="(user | async) && (afAuth.user | async)?.emailVerified">
        <div style="margin-bottom: -20px; margin-top: 5px;">
            <mat-form-field appearance="outline">
                <mat-label>Enter Pin</mat-label>
                <input [(ngModel)]="pinValue" (input)="onInputChange($event)" type="password" matInput />
            </mat-form-field>
        </div>
    </ng-container>
</app-header>

<mat-expansion-panel class="profile-dashboard-card" *ngIf="user | async">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="profile-dashboard-card-header">
                Profile Info:
            </div>
            <mat-panel-description>
                <div class="profile-dashboard-card-sub-header">
                    <div *ngIf="(user | async)?.textsThisMonth">
                        <i class="fa-solid fa-comment-sms" matTooltip="Texts This Month"></i>
                        <span> : {{ (user | async)?.textsThisMonth }}</span>
                    </div>
                    <div *ngIf="(user | async)?.emailsThisMonth">
                        <i class="fa-solid fa-envelope" matTooltip="Emails This Month"></i>
                        <span> : {{ (user | async)?.emailsThisMonth }}</span>
                    </div>
                </div>
            </mat-panel-description>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="profile-dashboard-card-main-container">
        <div class="profile-dashboard-card-main-container-half">
            <div class="profile-dashboard-card-row">
                <span>Account Type</span>
                <span>
                    {{ (user | async)?.accountType | titlecase }}
                    <i *ngIf="(user | async)?.accountType === 'bronze'" class="fa-solid fa-coins"
                        style="color: #cd7f32"></i>
                    <i *ngIf="(user | async)?.accountType === 'silver'" class="fa-solid fa-coins"
                        style="color: silver"></i>
                    <i *ngIf="(user | async)?.accountType === 'gold'" class="fa-solid fa-coins" style="color: gold"></i>
                    <i *ngIf="(user | async)?.accountType === 'platinum'" class="fa-solid fa-coins"
                        style="color: #e5e4e2"></i>
                </span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Owner: </span>
                <span>
                    {{ (user | async)?.owner }}
                    <i *ngIf="(afAuth.user | async)?.emailVerified" class="fa-solid fa-circle-check green"></i>
                    <i *ngIf="!(afAuth.user | async)?.emailVerified" class="fa-solid fa-circle-xmark red"></i>
                    <mat-error *ngIf="!(afAuth.user | async)?.emailVerified">&nbsp;(Please verify your email, check your
                        email box or go to the
                        resend email page.)</mat-error>
                </span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Id: </span>
                <span>
                    {{ userId }}
                    <i (click)="copyText(userId)" class="fa-regular fa-copy primary"></i>
                </span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Location Name: </span>
                <span>{{ (user | async)?.location_name }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>School: </span>
                <span>{{ (user | async)?.school }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Email: </span>
                <span>{{ (user | async)?.email_lower }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Phone: </span>
                <span>{{ (user | async)?.phone }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Website: </span>
                <span>
                    {{ (user | async)?.website }}
                    <a *ngIf="(user | async)?.website" target="_blank" href="{{ (user | async)?.website }}"
                        class="fa-solid fa-link primary"></a>
                    <ng-container *ngIf="!(user | async)?.website">
                        <span class="profile-missing">There is no website at the moment, please set it in profile
                            editor.</span>
                    </ng-container>
                </span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Active Employees: </span>
                <span>{{ Employees?.length }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Total Texts This Month: </span>
                <span>{{ (user | async)?.textsThisMonth }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Total Emails This Month: </span>
                <span>{{ (user | async)?.emailsThisMonth }}</span>
            </div>
            <div class="profile-dashboard-card-row">
                <span>Max Overlapping Reservations: </span>
                <span>{{ (user | async)?.maxOverLappingReservations }}</span>
            </div>
            <div *ngIf="(user | async)?.defaultText" class="profile-dashboard-card-row">
                <span>Default Table Alert Text: </span>
                <span>"{{ (user | async)?.defaultText }}"</span>
            </div>
            <div *ngIf="version" class="profile-dashboard-card-row">
                <span>App Version: </span>
                <span>{{ version }}</span>
            </div>
            <div *ngIf="(user | async)?.defaultText" class="profile-dashboard-card-row">
                <span>Hard Refresh: </span>
                <span>
                    <button mat-mini-fab color="primary" matTooltip="Hard Refresh" (click)="hardRefresh($event)">
                        <i class="fa-solid fa-refresh"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="profile-dashboard-card-main-container-half">
            <div class="image-container" *ngIf="imageUrls.length; else noImages">
                <ng-container *ngFor="let imageUrl of imageUrls; index as i">
                    <img [class.slide-in-image]="i === currentIndex" *ngIf="i === currentIndex" [src]="imageUrl"
                        class="image" />
                </ng-container>
            </div>
            <ng-template #noImages>
                <span class="profile-missing">This user does not have any images</span>
            </ng-template>
        </div>
    </div>
</mat-expansion-panel>

<mat-accordion>
    <mat-expansion-panel class="profile-dashboard-card" *ngIf="(user | async) && (afAuth.user | async)?.emailVerified" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="profile-dashboard-card-header">
            Available Views:
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="profile-dashboard-card-row">
        <span>Employee: </span>
        <span>
          <mat-checkbox color="primary" [disabled]="!(pinValue == (user | async)?.pin)" [(ngModel)]="employeesActive"
            (change)="toggleFeatureActive('employeesActive', employeesActive)">
            <span [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">Enable</span>
          </mat-checkbox>
        </span>
      </div>
      <div class="profile-dashboard-card-row">
        <span>Schedule: </span>
        <span>
          <mat-checkbox color="primary" [disabled]="!(pinValue == (user | async)?.pin)" [(ngModel)]="scheduleActive"
            (change)="toggleFeatureActive('scheduleActive', scheduleActive)">
            <span [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">Enable</span>
          </mat-checkbox>
        </span>
      </div>
      <div class="profile-dashboard-card-row">
        <span>Punch Clock: </span>
        <span>
          <mat-checkbox color="primary" [disabled]="!(pinValue == (user | async)?.pin)" [(ngModel)]="punchClockActive"
            (change)="toggleFeatureActive('punchClockActive', punchClockActive)">
            <span [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">Enable</span>
          </mat-checkbox>
        </span>
      </div>
      <div class="profile-dashboard-card-row">
        <span>Tables: </span>
        <span>
          <mat-checkbox color="primary" [disabled]="!(pinValue == (user | async)?.pin)" [(ngModel)]="tablesActive"
            (change)="toggleFeatureActive('tablesActive', tablesActive)">
            <span [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">Enable</span>
          </mat-checkbox>
        </span>
      </div>
      <div class="profile-dashboard-card-row">
        <span>Reservations: </span>
        <span>
          <mat-checkbox color="primary" [disabled]="!(pinValue == (user | async)?.pin)" [(ngModel)]="reservationsActive"
            (change)="toggleFeatureActive('reservationsActive', reservationsActive)">
            <span [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">Enable</span>
          </mat-checkbox>
        </span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  

<mat-expansion-panel class="profile-dashboard-card" *ngIf="(user | async) && (afAuth.user | async)?.emailVerified"
    [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="profile-dashboard-card-header">
                Manager Views:
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="profile-dashboard-button-manager-container">
        <div class="profile-dashboard-button-container">
            <button mat-fab color="primary" matTooltip="Profile Editor" [disabled]="!(pinValue == (user | async)?.pin)"
                (click)="goToDashboard('profile-editor-dashboard')">
                <i class="fa-solid fa-user fa-2xl"></i>
            </button>
            <div
                [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">
                Profile Editor
            </div>
        </div>
        <div class="profile-dashboard-button-container">
            <button mat-fab color="primary" matTooltip="Hiring Dashboard"
                [disabled]="!(pinValue == (user | async)?.pin)" (click)="goToDashboard('hiring-dashboard')">
                <i class="fa-solid fa-user-plus fa-2xl"></i>
            </button>
            <div
                [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">
                Hiring Dashboard
            </div>
        </div>
        <div class="profile-dashboard-button-container">
            <button mat-fab color="primary" matTooltip="Hours Editor" [disabled]="!(pinValue == (user | async)?.pin)"
                (click)="goToDashboard('hours-dashboard')">
                <i class="fa-solid fa-clipboard-list fa-2xl"></i>
            </button>
            <div
                [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">
                Hours Editor
            </div>
        </div>
        <div class="profile-dashboard-button-container">
            <button mat-fab color="primary" matTooltip="Resume Reviewer" [disabled]="!(pinValue == (user | async)?.pin)"
                (click)="goToDashboard('resume-dashboard')">
                <i class="fa-regular fa-newspaper fa-2xl"></i>
            </button>
            <div
                [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">
                Resume Reviewer
            </div>
        </div>
        <div *ngIf="['silver', 'gold'].includes((user | async)?.accountType)"
            class="profile-dashboard-button-container">
            <button mat-fab color="primary" matTooltip="Menu Builder" [disabled]="!(pinValue == (user | async)?.pin)"
                (click)="goToDashboard('menu-builder-dashboard')">
                <i class="fa-solid fa-utensils fa-2xl"></i>
            </button>
            <div
                [ngClass]="{'text-muted': !(pinValue == (user | async)?.pin), 'text-black': (pinValue == (user | async)?.pin)}">
                Menu Builder
            </div>
        </div>
    </div>
</mat-expansion-panel>