@import './../_styles/variables.scss';

.green{
    color: $green;
}

.red{
    color: $red;
}

.primary{
    color: $brand-primary;
    text-decoration: none;
}

.profile-dashboard-card{
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    background-color: rgba(250, 247, 247, 0.5);
}

.profile-dashboard-card-paying{
    position: absolute;
    top: 15px;
    right: 15px;
}

.profile-dashboard-card-header{
    font-size: 20px;
    font-weight: 600;
    color: $black;
    margin-bottom: 15px;
}

.profile-dashboard-card-row{
    margin-bottom: 10px;
}

.profile-dashboard-card-row span:first-of-type{
    display: inline-block;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.profile-dashboard-card-row span:last-of-type{
    display: inline-block;
    width: 80%;
    font-size: 14px;

    i{
        cursor: pointer;
    }
}