@import '../_styles/variables.scss';

.space-top {
    margin-top: 15px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-actions .mat-form-field {
    margin-right: 10px;
}

.menu-builder-accordion {
    margin-top: 15px;
}

.menu-builder-card {
    border: 1px solid $brand-primary;
    border-radius: 20px;
    padding: 30px 15px;
    margin-top: 15px;
    display: block;
    justify-content: space-between;
    box-shadow: none;
    background-color: $white;
}

.menu-builder-card-mini-header {
    display: flex;
    align-items: center;
}

.menu-builder-card-header-name {
    font-size: 20px;
    color: $black;
    font-weight: 600;
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
}

.menu-builder-card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.menu-builder-card-buttons div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-builder-card-buttons div button {
    margin-left: 5px;
}

.menu-builder-card-buttons div:first-of-type {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
}

.section-content .menu-item:not(:first-child) {
    border-top: 1px solid blue;
}

.no-section-or-item-message {
    font-style: italic;
    font-size: 14px;
    color: $text-muted;
    margin-top: 15px;
}

.mat-expansion-panel-header-title {
    height: auto;
}

.menu-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: 1px solid $brand-primary;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
    background-color: $white;
}

.menu-item-card .menu-item-image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 0;
    margin-bottom: 10px;
    align-self: center;
    border-radius: 4px;
}

.menu-item-content {
    flex-grow: 1;
}

.menu-item-tags-actions {
    display: flex;
    flex-direction: column;
}

.menu-item-tags {
    margin-bottom: 10px;
}

.menu-item-actions {
    display: flex;
    justify-content: center;
}

.menu-item-description{
    font-style: italic;
    font-size: 14px;
    color: $text-muted;
}

@media (max-width: 768px) {
    .menu-item-card {
        flex-direction: column;
    }

    .menu-item-content, .menu-item-tags-actions {
        width: 100%;
    }

    .menu-item-tags {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .menu-item-tags-actions {
        order: 3; // Move tags and actions to the bottom
    }

    .menu-builder-card-buttons {
        flex-direction: column;
        align-items: center;
    }

    .menu-builder-card-buttons div {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu-builder-card-buttons div:first-of-type {
        border-right: none !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
    }

    .menu-item-card .menu-item-info {
        text-align: left;
    }

    .menu-item-card .menu-item-info h2 {
        font-size: 16px;
    }

    .menu-item-card .menu-item-info .menu-item-description {
        margin-top: 5px;
    }
}
