<app-header iconClass="fa-solid fa-utensils" title="Menu Builder Dashboard">
    <div class="header-actions">
        <button mat-raised-button color="primary" (click)="onAddSectionClick()" matTooltip="Add Section">
            <i class="fa-solid fa-plus"></i> Section
        </button>
    </div>
</app-header>

<div *ngIf="showAddSection">
    <mat-form-field appearance="outline" class="space-top">
        <input matInput [(ngModel)]="newSectionName" placeholder="Section Name">
    </mat-form-field>
    <button style="margin-left: 15px;" mat-mini-fab color="primary" (click)="addSection()" matTooltip="Add Section">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<div class="menu-builder-accordion">
    <mat-expansion-panel *ngFor="let section of sections" class="menu-builder-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="menu-builder-card-mini-header">
                    <h1>#{{section.order}}</h1>
                    <h1 class="menu-builder-card-header-name" *ngIf="editingSectionId !== section.id">{{ section.name }}
                    </h1>
                    <mat-form-field appearance="outline" *ngIf="editingSectionId === section.id" class="space-top"
                        (click)="$event.stopPropagation();">
                        <input matInput [(ngModel)]="editingSection.name">
                    </mat-form-field>
                </div>
            </mat-panel-title>
            <mat-panel-description class="menu-builder-card-buttons">
                <button mat-mini-fab color="primary" *ngIf="editingSectionId !== section.id"
                    (click)="$event.stopPropagation(); editSection(section.id)" matTooltip="Edit Section"
                    style="margin-left: 15px;">
                    <i class="fa-solid fa-edit"></i>
                </button>
                <button mat-mini-fab color="primary" *ngIf="editingSectionId === section.id"
                    (click)="$event.stopPropagation(); saveSection()" matTooltip="Save Section"
                    style="margin-left: 15px;">
                    <i class="fa-solid fa-save"></i>
                </button>
                <button mat-mini-fab color="accent" *ngIf="editingSectionId === section.id"
                    (click)="$event.stopPropagation(); cancelEdit()" matTooltip="Cancel" style="margin-left: 15px;">
                    <i class="fa-solid fa-close"></i>
                </button>
                <button mat-mini-fab color="warn" *ngIf="editingSectionId !== section.id"
                    (click)="$event.stopPropagation(); deleteSection(section.id)" matTooltip="Delete Section"
                    style="margin-left: 15px;">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="section-content">
            <button mat-raised-button color="primary" (click)="openCreateMenuItemDialog(section.id)"
                style="margin-bottom: 10px;">
                <i class="fa-solid fa-plus"></i> Menu Item
            </button>
            <div *ngIf="section.menuItems?.length === 0" class="no-section-or-item-message">
                There are no menu items for this section.
            </div>
            <div *ngFor="let menuItem of section.menuItems" class="menu-item-card">
                <img *ngIf="menuItem.imageUrl" [src]="menuItem.imageUrl" alt="{{ menuItem.name }}"
                    class="menu-item-image">
                <div class="menu-item-info">
                    <h2>{{ menuItem.name }}</h2>
                    <p class="menu-item-description">{{ menuItem.description }}</p>
                </div>

                <div class="menu-item-price">
                    <strong>${{ menuItem.price | number:'1.2-2' }}</strong>
                    <div class="menu-item-actions">
                        <button mat-mini-fab color="primary" (click)="openEditMenuItemDialog(menuItem, section.id)"
                            matTooltip="Edit Item">
                            <i class="fa-solid fa-edit"></i>
                        </button>
                        <!-- In your HTML template -->
                        <button mat-mini-fab color="warn"
                            (click)="deleteMenuItemWithConfirmation(section.id, menuItem.id, menuItem.imageUrl)"
                            matTooltip="Delete Item"
                            style="margin-left: 15px;">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </mat-expansion-panel>
</div>

<div *ngIf="sections?.length === 0" class="no-section-or-item-message">
    There are no sections.
</div>