@import '../_styles/variables.scss';

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px; // Adjust spacing between buttons and input

    .mat-form-field {
        margin-right: 10px;
    }
}

.menu-builder-accordion {
    margin-top: 15px;
}

.mat-expansion-panel-header-description {
    justify-content: right;
}

.menu-builder-section-header {
    margin: 24px 0px !important;
}

.space-top {
    margin-top: 24px;
}

.no-section-or-item-message {
    font-style: italic;
    font-size: 14px;
    color: $text-muted;
}