@import '../_styles/variables.scss';

.space-top{
    margin-top: 15px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;

    .mat-form-field {
        margin-right: 10px;
    }
}

.menu-builder-accordion {
    margin-top: 15px;

    .menu-builder-card {
        border: 1px solid $brand-primary;
        border-radius: 20px;
        padding: 30px 15px;
        margin-top: 15px;
        display: block;
        justify-content: space-between;
        box-shadow: none;
        background-color: $white;
    }

    .menu-builder-card-mini-header {
        display: flex;
    }

    .menu-builder-card-header-name {
        font-size: 20px;
        color: $black;
        font-weight: 600;
        display: flex;
        margin-top: 15px;
        margin-left: 20px;
    }

    .menu-builder-card-buttons {
        margin-right: 25px;
        display: block;
        text-align: right;

        button {
            margin-left: 10px;
            color: $brand-primary;
        }
    }

    .section-content {
        .menu-item:not(:first-child) {
            border-top: 1px solid blue;
        }
    }
}

.menu-builder-empty {
    font-style: italic;
    font-size: 14px;
    color: $text-muted;
    margin-top: 15px;
}
.mat-expansion-panel-header-title{
    height: 44px;
}

@media (max-width: 768px) {
    // Add responsive styles here if needed
}
