<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <h1 mat-dialog-title>Edit an Employee</h1>
    <div style="text-align: center;">
        <img (click)="fileUploader.click(); $event.stopPropagation()" [src]="imgSrc" width="100px" height="100px"
            style="cursor: pointer; border-radius: 50%;">
    </div>
    <div>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Profile Picture</mat-label>
            <button type="button" mat-icon-button matPrefix (click)="fileUploader.click(); $event.stopPropagation()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" readonly matInput formControlName="fileName" />
            <input type="file" hidden #fileUploader (change)="detectNewImage($event)" accept="*.png,*.jpg,*.jpeg" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="text" formControlName="phone" matInput required appPhoneNumberFormat>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Employement Type</mat-label>
            <select formControlName="employmentType" matNativeControl required>
                <option value="part-time">Part-time</option>
                <option value="full-time">Full-time</option>
                <option value="seasonal">Seasonal</option>
                <option value="all">All</option>
            </select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Position</mat-label>
            <input type="text" formControlName="position" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox color="primary" formControlName="floorEmployee">Floor Employee</mat-checkbox>
    </div>
    <div>
        <mat-checkbox color="primary" formControlName="employeed">Active</mat-checkbox>
    </div>
    
    <div mat-dialog-actions style="justify-content: space-between;">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="!editForm.valid || !editForm.dirty || isSubmitted" style="float: right;">Update</button>
    </div>
</form>