<app-header iconClass="fa-solid fa-clipboard-list" title="Hours Editor">
    <div class="hours-dashboard-date-range">
        <mat-form-field appearance="outline">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="loadTimestamps()" [disabled]="!isRangeValid()">Load
        Timestamps</button>
</app-header>

<div *ngIf="isEmpty"><i class="employee-totals-empty">There are no timestamps during this date range.</i></div>
<div class="employee-totals" *ngIf="!isEmpty">
    <h2>Total Hours Worked:</h2>
    <div *ngFor="let employee of totalHours | keyvalue" (click)="selectEmployee(employee.key)">
        <div class="employee-totals-card"
            [ngStyle]="{'border-color': selectedEmployee === employee.key ? '#22C795' : '#35B9DF', 'border-radius': '5px', 'border-width': '2px', 'border-style': 'solid'}">
            {{employee.key}}: {{employee.value}} hours total
        </div>
    </div>
</div>

<!-- The rest of your template... -->
<div class="timestamps-list" *ngIf="selectedEmployee">
    <h2>{{selectedEmployee}}'s Time Stamps:</h2>
    <div class="card" *ngFor="let timestamp of timestamps">
        <h3>{{timestamp.employeeName}}'s TimeStamp</h3>
        <p>Start Time: {{timestamp.startTime | date:'short'}}</p>
        <p>End Time: {{timestamp.endTime | date:'short'}}</p>
        <p>Total hours worked that day: {{timestamp.hoursWorked}}</p>
    </div>
</div>