<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <h1 mat-dialog-title>Edit Table</h1>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Assigned Employee</mat-label>
            <mat-select formControlName="employeeId">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                    <img class="edit-table-dialog-image" src="{{employee.imgUrl}}" />
                    <span>{{employee.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Table Number</mat-label>
            <input type="number" formControlName="tableNumber" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Shape</mat-label>
            <select formControlName="shape" matNativeControl required>
                <option value="square">square</option>
                <option value="horizontal-rectangle">horizontal-rectangle</option>
                <option value="verticle-rectangle">verticle-rectangle</option>
                <option value="circle">circle</option>
                <option value="pentagon">pentagon</option>
                <option value="hexagon">hexagon</option>
                <option value="triangle">triangle</option>
            </select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Number of seats</mat-label>
            <input type="number" formControlName="seats" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Floor Plan</mat-label>
            <input type="number" formControlName="floorPlan" matInput required>
        </mat-form-field>
    </div>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid || !editForm.dirty"
        style="float: right;">Update</button>
</form>