@import '../../_styles/variables.scss';

.header-container{
    padding: 15px;
    background-color: $white;
    margin: 0px -15px;
    border-bottom: 1px solid #555;
    position: relative;

    i{
        color: $brand-primary;
    }
}