<div class="tables-waitlist-container">
    <h1 class="tables-waitlist-header">Waitlist: <i class="fa-solid fa-circle-info"
            matTooltip='Default Text: "{{message}}"'></i></h1>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" novalidate class="tables-waitlist-form">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name:</mat-label>
                <input type="text" formControlName="name" matInput required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number:</mat-label>
                <input type="text" formControlName="phoneNumber" matInput required (input)="formatPhoneNumber()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Total Party:</mat-label>
                <input type="number" formControlName="totalParty" matInput required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Time:</mat-label>
                <mat-select formControlName="time">
                    <mat-option *ngFor="let time of timeOptions" [value]="time"
                        [class.bg-green]="getBackgroundColorClass(time) === 'bg-green'"
                        [class.bg-yellow]="getBackgroundColorClass(time) === 'bg-yellow'"
                        [class.bg-red]="getBackgroundColorClass(time) === 'bg-red'" [disabled]="isTimeSlotFull(time)">
                        <div class="reservation-option">
                            <span>
                                {{ time }}
                            </span>
                            <span>
                                ({{ getReservationCountForTime(time) }}/{{ maxOverLappingReservations }})
                            </span>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!reservationForm.valid">Add</button>
    </form>
    <br>
    <span *ngIf="reservations.length === 0" class="no-reservations-message">
        There are no reservations at the moment.
    </span>
    <div *ngFor="let reservation of reservations">
        <div class="tables-waitlist-card">
            <div class="tables-waitlist-card-name">{{ reservation.name }}</div>
            <div class="tables-waitlist-card-content">
                <b>Phone: </b>
                <span>{{reservation.phoneNumber}}</span>
                <i class="fa-solid fa-phone-flip primary"></i>
            </div>
            <div class="tables-waitlist-card-content">
                <b>Reservation Time: </b>
                <span>{{ formatTo12Hour(reservation.time) }}</span>
                <i class="fa-solid fa-stopwatch primary"></i>
            </div>
            <div class="tables-waitlist-card-content">
                <b>Total Party: </b>
                <span>{{ reservation.totalParty }} {{ reservation.totalParty === 1 ? 'person' : 'people' }}</span>
                <i class="fa-solid fa-people-group primary"></i>
            </div>
            <hr>
            <div class="tables-waitlist-card-actions">
                <div class="tables-waitlist-card-text" [class.disabled]="textInProgress[reservation.id]"
                    (click)="!textInProgress[reservation.id] && textTableReady(reservation)">
                    <i class="fa-solid fa-comment-sms"></i>
                </div>
                <div class="tables-waitlist-card-delete" (click)="deleteReservation(reservation)">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
    </div>
</div>