@import './../_styles/variables.scss';

.tables-waitlist-container {
    margin: 15px;
}

.tables-waitlist-form {
    display: flex;
    justify-content: space-between;

    div {
        margin-right: 10px;
    }
}

.message{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
}

.tables-waitlist-card {
    position: relative;
    border: 2px solid $red;
    border-radius: 4px;
    padding: 15px;
    background-color: $white;
    margin-bottom: 15px;
}


.tables-waitlist-card.text-sent {
    border: 2px solid $green;
    background-color: rgba($green70, .1);
}



.tables-waitlist-card-name {
    font-size: 20px;
    color: $black;
    font-weight: 600;
    margin-bottom: 5px;
}

.tables-waitlist-card-content{
    font-size: 14px;

    b{
        text-transform: uppercase;
    }
}

.tables-waitlist-card-delete {
    font-size: 20px;
    color: $red;
    cursor: pointer;
    display: inline-block;
}


.tables-waitlist-card-text {
    font-size: 20px;
    color: $green;
    cursor: pointer;
    display: inline-block;
}

.tables-waitlist-card-actions{
    display: flex;
    justify-content: space-between;
}


.tables-waitlist-card-eta{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    font-style: italic;
}

.primary{
    color: $brand-primary;
    text-decoration: none;
    margin-left: 5px;
}
