<div class="tables-waitlist-container">
    <h1 class="tables-waitlist-header">Waitlist: <i class="fa-solid fa-circle-info" matTooltip='Default Text: "{{message}}"'></i></h1>
    <form class="tables-waitlist-form" (ngSubmit)="addReservation()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name:</mat-label>
                <input type="text" [(ngModel)]="name" name="name" matInput required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number:</mat-label>
                <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" matInput required
                    (input)="formatPhoneNumber()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Total Party:</mat-label>
                <input type="number" [(ngModel)]="totalParty" name="totalParty" matInput required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Estimated Wait (<i>minutes</i>):</mat-label>
                <input type="number" [(ngModel)]="estimatedWait" name="estimatedWait" matInput required>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="!name || !phoneNumber || !estimatedWait">Add</button>
    </form>
    <br>
    <span *ngIf="reservations.length === 0" class="no-reservations-message">
        There are no reservations at the moment.
    </span>
    <div *ngFor="let reservation of reservations">
        <div class="tables-waitlist-card" [ngClass]="{'text-sent': reservation.hasRecievedText}">
            <div class="tables-waitlist-card-name">{{ reservation.name }}</div>
            <div class="tables-waitlist-card-content">
                <b>Phone: </b>
                <span>{{reservation.phoneNumber}}</span>
                <i class="fa-solid fa-phone-flip primary"></i>
            </div>
            <div class="tables-waitlist-card-content">
                <b>Reservation Time: </b>
                <span>{{ reservation.time }}</span>
                <i class="fa-solid fa-stopwatch primary"></i>
            </div>
            <div class="tables-waitlist-card-content">
                <b>Total Party: </b>
                <span>{{ reservation.totalParty }} {{ reservation.totalParty === 1 ? 'person' : 'people' }}</span>
                <i class="fa-solid fa-people-group primary"></i>
            </div>
            <hr>
            <div class="tables-waitlist-card-actions">
                <div *ngIf="!reservation.hasRecievedText" class="tables-waitlist-card-text" (click)="textTableReady(reservation)">
                    <i class="fa-solid fa-comment-sms"></i>
                </div>
                <div class="tables-waitlist-card-delete" (click)="deleteReservation(reservation)">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
    </div>
</div>
