<h1><i class="fas fa-user"></i>Timesheet Dashboard</h1>

<!-- buttons to increment or decrement the dates by one week -->
<button (click)="incrementWeek()">Increment</button>
<button (click)="decrementWeek()">Decrement</button>


<div *ngFor="let day of populatedSchedulesWithDates; let i = index">
  <div class="timesheet-dashboard-date">
    <div>{{day.date}}</div>
  </div>
  <div class="timesheet-dashboard-schedule-none" *ngIf="day.schedule?.length < 1">
    There are no employees scheduled for this day.
  </div>
  <ng-container *ngFor="let schedule of day.schedule; let j = index">
    <div class="timesheet-dashboard-schedule-card" *ngIf="schedule">
      <div>
        <div class="timesheet-dashboard-name">
          <span>{{schedule.employeeName}}</span>
          <i *ngIf="schedule.note" matTooltip="{{schedule.note}}" matTooltipPosition="above"
            class="fa-solid fa-circle-info"></i>
        </div>
        <div class="timesheet-dashboard-hours">Hours: {{schedule.startTime | convertToAMorPM}} -
          {{schedule.endTime | convertToAMorPM}}</div>
      </div>
      <div class="timesheet-dashboard-icons">
        <div (click)="editSchedule(schedule, j, i)"><i class="fa-solid fa-pen-to-square"></i></div>
        <div (click)="deleteSchedule(schedule, j, i)"><i class="fa-solid fa-trash-can"></i></div>
      </div>
    </div>
  </ng-container>
</div>
