<div class="table-dashboard-container">
    <mat-drawer-container class="table-drawer-container" [hasBackdrop]="true">
        <mat-drawer-content>
            <p>tables-dashboard works!</p>
            <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>


            <!-- <button (click)="test()">TEST MESSAGE</button> -->
        </mat-drawer-content>
        <mat-drawer #drawer mode="over" position="end">
            <app-waitlist></app-waitlist>
        </mat-drawer>
    </mat-drawer-container>
</div>