@import './../_styles/variables.scss';

.table-dashboard-container {
  position: relative;
  margin: 0px -15px;
  height: calc(100vh - 55px);
}

.table-drawer-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-view {
  position: relative;
  width: 1000px;
  min-height: 700px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

.table-dashboard-actions-container{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-dashboard-actions{
  i, h1{
    display: inline-block;
  }

  h1{
    margin: 0px 8px !important;
  }

  i{
    font-size: 20px;
    cursor: pointer;
    color: $brand-primary
  }

  i.disabled {
    color: $grey;
    cursor: not-allowed;
  }
}

.table-view-current-floor{
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid $black;
  background-color: rgba($grey, .1);
  z-index: 9999999;
}

.table-all-table-container {
  margin-top: 15px;
}

.table-all-table-container-no-tables {
  font-style: italic;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  color: $text-muted;
}

//SHAPES
.square,
.horizontal-rectangle,
.verticle-rectangle,
.circle,
.triangle,
.pentagon,
.hexagon {
  position: absolute;
  cursor: move;
  z-index: 1;
}

.square {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-rectangle {
  background-color: green;
  border: 2px solid red;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticle-rectangle {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pentagon {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  background-color: green;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}