@import '../_styles/variables.scss';

.green{
    color: $green;
}

.yellow{
    color: $yellow;
}

.dashboard-container-actions{
    display: flex;
    justify-content: space-between;
}

.dashboard-container-actions-header{
    font-size: 20px;
    font-weight: 600;
    color: $black;
}

#dashboard-job-wrapper_scroller {
    /* snap mandatory on horizontal axis  */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    width: 100%;
}

#dashboard-job-wrapper_scroller::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#dashboard-job-wrapper_scroller div {
    /* snap align center  */
    scroll-snap-align: center;
    position: relative;
}

#dashboard-job-wrapper_scroller div.dashboard-job-card-container {
    min-height: 99px;
    min-width: 32%;
    max-width: 32%;
    padding: 10px;
}

.dashboard-job-card, .dashboard-job-card-archived {
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    box-shadow: none;
    background-color: rgba(250, 247, 247, 0.5);
}

.dashboard-job-card{
    display: block;
}

.dashboard-job-card-archived-container{
    display: block;
    text-align: center;
}

.dashboard-job-card-archived{
    text-align: left;
    display: inline-block;
    width: 29%;
    margin: 1%;
}

.dashboard-job-wrapper .btn.next {
    right: -13px;
}

.dashboard-job-wrapper .btn.prev {
    left: -13px;
}

.dashboard-job-card-header{
    font-size: 20px;
    font-weight: 600;
    color: $black;

    i{
        cursor: pointer;
        font-size: 16px;
        color: $brand-primary;
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
    }
}

.dashboard-job-card-sub{
    font-size: 12px;
    color: #00000050;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.dashboard-job-card-row{
    margin-bottom: 10px;
}

.dashboard-job-card-row span:first-of-type{
    display: inline-block;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.dashboard-job-card-row span:last-of-type{
    display: inline-block;
    width: 80%;
    font-size: 14px;

    i{
        cursor: pointer;
    }
}

.dashboard-job-card-row-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#dashboard-job-wrapper_scroller-left, #dashboard-job-wrapper_scroller-right{
    font-size: 20px;
    color: $brand-primary;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    vertical-align: middle;
}

#dashboard-job-wrapper_scroller-left.grey, #dashboard-job-wrapper_scroller-right.grey{
    color: $text-muted;
    cursor: not-allowed;
}

@media (max-width:1200px) {
    #dashboard-job-wrapper_scroller div.dashboard-job-card-container {
        min-height: 99px;
        min-width: 70%;
        max-width: 70%;
        padding: 10px;
    }


    .dashboard-job-card-archived{
        display: inline-block;
        width: 48%;
        margin: 0% 2% 2% 0%;
    }
}


@media (max-width:768px) {
    .dashboard-job-card-row span:first-of-type{
        width: 40%;
    }
    
    .dashboard-job-card-row span:last-of-type{
        width: 60%;
    }

    .dashboard-job-card-archived{
        display: inline-block;
        width: 98%;
        margin: 1%;
    }
}