@import '../_styles/variables.scss';

.dashboard-container{
    padding: 20px;
}

.dashboard-job-card{
    padding: 15px;
    margin-bottom: 15px;
}

.dashboard-job-card-actions{
    display: flex;
    justify-content: space-between;
}

.border-red{
    border: 3px solid red;
}

.border-green{
    border: 3px solid lime;
}