<app-header iconClass="fa-solid fa-user-plus" title="Hiring Dashboard">
    <div class="dashboard-container-actions" *ngIf="(user | async)">
        <div class="dashboard-container-actions-header" matBadge="{{Jobs.length}}" matBadgeOverlap="false">Your Jobs
        </div>
        <div>
            <div *ngIf="isMobile === true || Jobs?.length > 3" [ngClass]="{'grey' : allTheWayLeft}"
                id="dashboard-job-wrapper_scroller-left" (click)="scrollLeft()"
                class="btn prev fas fa-chevron-circle-left">
            </div>
            <button mat-raised-button color="primary" (click)="createJob()">
                <span>Add</span>
            </button>
            <div *ngIf="isMobile === true || Jobs?.length > 3" [ngClass]="{'grey' : allTheWayRight || Jobs?.length < 2}"
                id="dashboard-job-wrapper_scroller-right" (click)="scrollRight()"
                class="btn next fas fa-chevron-circle-right"></div>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Filter Menu"
                style="margin-left: 15px;" matBadge="!" matBadgeColor="accent" [matBadgeHidden]="!jobNameFilter">
                <i class="fa-solid fa-filter"></i>
            </button>
            <mat-menu #menu="matMenu">
                <div (click)="$event.stopPropagation()" style="padding: 15px;">
                    <div class="filter-menu">
                        <div>Jobs Filter:</div>
                        <div>
                            <button mat-mini-fab color="primary" aria-label="Reset Form" (click)="resetFilter()"
                                [disabled]="!jobNameFilter">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-label>Job Name</mat-label>
                        <span matPrefix><i class="fa-solid fa-magnifying-glass"
                                style="color: #35B9DF; margin-left: 5px;"></i> &nbsp;</span>
                        <input type="text" matInput [(ngModel)]="jobNameFilter">
                    </mat-form-field>
                </div>
            </mat-menu>
        </div>
    </div>
</app-header>
<div class="dashboard-job-wrapper">
    <div (scroll)="scrollHandler($event)" id="dashboard-job-wrapper_scroller">
        <ng-container *ngFor="let job of Jobs; let i = index">
            <div class="dashboard-job-card-container"
                *ngIf="!jobNameFilter || job.title.toLowerCase().includes(jobNameFilter.toLowerCase())">
                <div class="dashboard-job-card">
                    <div class="dashboard-job-card-icon">
                        <ng-container *ngIf="job.icon && svgs[job.icon]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 512 512"
                                version="1.1">
                                <path [attr.d]="svgs[job.icon].pathD" stroke="none" fill="#35B9DF"
                                    fill-rule="evenodd" />
                            </svg>
                        </ng-container>
                    </div>
                    <div class="dashboard-job-card-content">
                        <div class="dashboard-job-card-header">
                            {{job.title}}
                            <i (click)="editJob(job)" class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Job Id: </span>
                            <span>
                                {{ job.id }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Total Positions: </span>
                            <span>
                                {{ job.totalPositions }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Employment Type: </span>
                            <span>
                                {{ job.employmentType | titlecase }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Description: </span>
                            <span>
                                {{ job.description }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row-footer">
                            <button (click)="removeJob(job)" mat-raised-button>
                                DELETE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="dashboard-job-empty" *ngIf="!Jobs?.length || filteredJobs.length === 0">
    There are no jobs at the moment.
</div>