<h1><i class="fas fa-user"></i>Hiring Dashboard</h1>
<div class="dashboard-container-actions" *ngIf="(user | async)">
    <div class="dashboard-container-actions-header"  matBadge="{{Jobs.length}}" matBadgeOverlap="false">Your Jobs</div>
    <div>
        <div *ngIf="isMobile === true || Jobs?.length > 3" [ngClass]="{'grey' : allTheWayLeft}"
            id="dashboard-job-wrapper_scroller-left" (click)="scrollLeft()" class="btn prev fas fa-chevron-circle-left">
        </div>
        <button [disabled]="!(afAuth.user | async)?.emailVerified"
            mat-raised-button color="primary" (click)="createJob()">
            <span>Add</span>
        </button>
        <div *ngIf="isMobile === true || Jobs?.length > 3"
            [ngClass]="{'grey' : allTheWayRight || Jobs?.length < 2}" id="dashboard-job-wrapper_scroller-right"
            (click)="scrollRight()" class="btn next fas fa-chevron-circle-right"></div>
    </div>
</div>
<div class="dashboard-job-wrapper">
    <div (scroll)="scrollHandler($event)" id="dashboard-job-wrapper_scroller">
        <ng-container *ngFor="let job of Jobs; let i = index">
            <div class="dashboard-job-card-container">
                <div class="dashboard-job-card">
                    <div class="dashboard-job-card-content">
                        <div class="dashboard-job-card-header">
                            {{job.title}}
                            <i (click)="editJob(job)" class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Job Id: </span>
                            <span>
                                {{ job.id }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Total Positions: </span>
                            <span>
                                {{ job.totalPositions }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Employment Type: </span>
                            <span>
                                {{ job.employmentType | titlecase }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row">
                            <span>Description: </span>
                            <span>
                                {{ job.description }}
                            </span>
                        </div>
                        <div class="dashboard-job-card-row-footer">
                            <button (click)="removeJob(job)" mat-raised-button>
                                DELETE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>