<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <h1 mat-dialog-title>Edit a Job</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" formControlName="title" matInput required>
            </mat-form-field>
        </div>
        <div class="chip-container">
            <mat-chip-listbox aria-label="SVG selection">
                <div class="mat-chip-container">
                    <mat-chip-option *ngFor="let svg of svgs | keyvalue" (click)="onSvgSelected(svg.key)">
                        <ng-container *ngIf="svg.value?.pathD">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 512 512"
                                version="1.1">
                                <path [attr.d]="svg.value.pathD" stroke="none" fill="#35B9DF" fill-rule="evenodd" />
                            </svg>
                        </ng-container>
                    </mat-chip-option>
                </div>
            </mat-chip-listbox>

        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Available Positions</mat-label>
                <input type="number" formControlName="totalPositions" matInput required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Employement Type</mat-label>
                <select formControlName="employmentType" matNativeControl required>
                    <option value="part-time">Part-time</option>
                    <option value="full-time">Full-time</option>
                    <option value="seasonal">Seasonal</option>
                    <option value="all">All</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea rows="8" type="text" formControlName="description" matInput required></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions style="justify-content: space-between;">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid || !editForm.dirty"
            style="float: right;">Update</button>
    </div>
</form>