@import './../_styles/variables.scss';

.employee-schedule-dashboard-name {
    font-size: 20px;
    color: $brand-secondary;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;

    i{
        font-size: 20px;
        color: $brand-primary;
        cursor: pointer;
    }
}

.employee-schedule-dashboard-back{
    background-color: $white;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.employee-schedule-dashboard-schedule-none{
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -10px;
    font-size: 14px;
    color: $text-muted;
}

.employee-schedule-dashboard-schedule-card {
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(250, 247, 247, .5);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.employee-schedule-dashboard-date {
    font-size: 20px;
    color: $brand-secondary;
    font-weight: 600;
    margin-bottom: 5px;

    i{
        font-size: 12px;
        color: $brand-primary;
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
    }
}

.employee-schedule-dashboard-hours {
    font-size: 12px;
    color: #00000050;
    font-weight: 600;
    text-transform: uppercase;
}

.employee-schedule-dashboard-icons{
    display: flex;
    font-size: 20px;
    color: $brand-primary;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    
    div{
        margin-left: 10px;
    }
}