@import './../_styles/variables.scss';

.employee-profile-dashboard-schedule-none {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: -10px;
    font-size: 14px;
    color: $text-muted;
}

.employee-profile-dashboard-schedule-card {
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    background-color: $white;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.employee-profile-dashboard-date {
    font-size: 20px;
    color: $black;
    font-weight: 600;
    margin-bottom: 5px;

    i {
        font-size: 12px;
        color: $brand-primary;
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
    }
}

.employee-profile-dashboard-hours {
    font-size: 12px;
    color: $grey;
    font-weight: 600;
    text-transform: uppercase;
}

.employee-profile-dashboard-icons {
    display: flex;
    font-size: 20px;
    color: $brand-primary;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    div {
        margin-left: 10px;
    }
}

.employee-profile-dashboard-none {
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 14px;
    color: $text-muted;
}

.no-timeoffs-message{
    font-style: italic;
    font-size: 14px;
    color: $text-muted;
}

.employee-notes-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 100%; // Ensure the parent container has a defined height for this to work effectively

    .mat-form-field {
        flex: 1; // This will make the form field fill the height of its container
        width: 100%; // This will make the form field fill the width of its container

        textarea {
            height: 100%; // Make the textarea fill the height of the form field
        }
    }
}

/* In component's CSS file, or in styles.css for global scope */
.mat-calendar-body-cell.selected {
    background-color: #35B9DF !important;
    color: #fff !important;
    border-radius: 50%;
  }
  
  /* Add this to your component's CSS file or the global styles.css/scss file */
.mat-calendar-body-cell.timeoff-loaded {
    background-color: $red;
    color: #fff !important;
    border-radius: 50%;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  @media (max-width: 768px) {
    .left-controls {
        flex-basis: 100%; /* Make the left controls take the full width */
        margin-bottom: 15px; /* Add some space between the controls and the date picker */
    }

    .date-range-picker {
        flex-basis: 100%; /* Make the date range picker take the full width */
        order: 1; /* Ensure the date range picker is below the left controls */
    }

    /* Adjust the date range picker field to full width for smaller screens */
    .date-range-picker mat-form-field {
        width: 100%;
    }
}
