<h2 mat-dialog-title>Edit {{data.timestamp.employeeName}}'s Timestamp</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput [(ngModel)]="startTime" type="datetime-local">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput [(ngModel)]="endTime" type="datetime-local">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>