<h1 mat-dialog-title style="margin-bottom: 0px;">Mass Select Tables</h1>
<hr>
<div>
    <div *ngFor="let floorPlan of groupedTables | keyvalue">
        <h3 style="margin-bottom: 0px;">Floor Plan: {{floorPlan.key}}</h3>
        <div class="floor-plan">
            <div *ngFor="let table of floorPlan.value">
                <mat-checkbox [(ngModel)]="table.checked" 
                              (change)="onTableCheckboxChange($event, table)"
                              [disabled]="table.assignedEmployee.name !== 'Unassigned Table'">
                    {{table.tableNumber}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <mat-form-field appearance="outline" style="margin-top: 5px;">
        <mat-label>Select an employee</mat-label>
        <mat-select (selectionChange)="onEmployeeChange($event)">
            <mat-option *ngFor="let employee of filteredEmployees" [value]="employee">
                <img class="create-schedule-from-date-image" src="{{employee.imgUrl}}" />
                <span>{{employee.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!formReady" (click)="onSubmit()">Submit</button>
</div>
