mat-form-field {
    width: 100%;
}

.create-schedule-from-date-image {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.floor-plan {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  