<!--See all this only if you are logged out-->
<header class="app-header">
    <div class="app-header-status">
        <i *ngIf="(afAuth.user | async)" class="fa-solid fa-circle"></i>
        <i *ngIf="!(afAuth.user | async)" class="fa-solid fa-circle-dot"></i>
    </div>
    <img src="../assets/img/Logo.png">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="!(afAuth.user | async)">
            <button mat-menu-item routerLink="/login">
                <mat-icon class="app-header-status-icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item routerLink="/signup">
                <mat-icon class="app-header-status-icon"><i class="fa-solid fa-user-plus"></i></mat-icon>
                <span>Sign up</span>
            </button>
            <button mat-menu-item routerLink="/forgot-password">
                <mat-icon class="app-header-status-icon"><i class="fa-solid fa-question"></i></mat-icon>
                <span>Forgot password</span>
            </button>
        </ng-container>
        <ng-container *ngIf="(afAuth.user | async)">
            <button mat-menu-item routerLink="/verify-email" *ngIf="!(afAuth.user | async)?.emailVerified">
                <mat-icon class="app-header-status-icon"><i class="fa-solid fa-arrows-rotate"></i></mat-icon>
                <span>Resend email verification</span>
            </button>
            <button mat-menu-item routerLink="/profile-dashboard">
                <mat-icon class="app-header-status-icon"> <i class="fa-solid fa-user"></i></mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon class="app-header-status-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></mat-icon>
                <span>Log out</span>
            </button>
        </ng-container>

    </mat-menu>
</header>
<!--See all this only if you are logged in-->
<section class="app-navigation" *ngIf="(afAuth.user | async)">
    <div
        *ngIf="(!checkLocalStorage('jobsActive') && !checkLocalStorage('employeesActive') && !checkLocalStorage('timesheetActive') && !checkLocalStorage('tablesActive'))">
        <a routerLink="/profile-dashboard" routerLinkActive="active">
            <i class="fa-solid fa-user"></i>
            <div>Profile</div>
        </a>
    </div>
    <div *ngIf="checkLocalStorage('jobsActive')">
        <a routerLink="/hiring-dashboard" routerLinkActive="active">
            <i class="fa-solid fa-utensils"></i>
            <div>Jobs</div>
        </a>
    </div>
    <div *ngIf="checkLocalStorage('employeesActive')">
        <a routerLink="/employee-dashboard" routerLinkActive="active">
            <i class="fa-solid fa-address-book"></i>
            <i class="fa-solid fa-user-chef"></i>
            <div>Employees</div>
        </a>
    </div>
    <div *ngIf="checkLocalStorage('timesheetActive')">
        <a routerLink="/timesheet-dashboard" routerLinkActive="active">
            <i class="fa-solid fa-calendar"></i>
            <div>Timesheet</div>
        </a>
    </div>
    <div *ngIf="checkLocalStorage('tablesActive')">
        <a routerLink="/tables-dashboard" routerLinkActive="active">
            <i class="fa-solid fa-tablet-screen-button"></i>
            <div>Tables</div>
        </a>
    </div>
    <!-- <div>
        <a routerLink="/admin" routerLinkActive="active">
            <i class="fa-solid fa-lock"></i>
            <div>Admin</div>
        </a>
    </div> -->
</section>
<!--Router-->
<router-outlet></router-outlet>