@import './_styles/variables.scss';

.app-drawer-container{
    height: 100vh;
    padding-bottom: 15px;
}

.app-drawer-container-content{
    padding: 0px 15px;
}

.app-header{
    border-bottom: 1px solid #ccc;
    background-color: $white;
    text-align: center;
    position: relative;
    margin: 0px -15px;

    .app-header-status{
        position: absolute;
        left: 15px;
        top: 19px;

        .fa-circle{
            color: #22C795;
        }

        .fa-circle-dot{
            color: #FF0000;
        }
    }
    
    img{
        height: 30px;
        margin: 10px 0px;
        display: inline-block;
    }

    button{
        position: absolute;
        right: 15px;
        top: 5px;
        color: $brand-primary;
    }
}


.app-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    div:after{
        content: '';
        display: inline-block;
        width: 0px;
        height: 100%;
        vertical-align: middle;
    }

    div {
        height: 100%;
        display: block;
        text-align: center;
        background-color: $brand-primary;

        a {
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            opacity: 50%;
            color: $text-muted;
            font-family: $font1;
            text-transform: uppercase;
            padding: 0px 15px;

            i {
                font-size: 20px;
                margin-bottom: 5px;
            }

            div {
                font-size: 12px;
            }
        }

        a:hover {
            opacity: 100%;
            color: $white !important;
        }

        a.active {
            opacity: 100%;
            color: $white !important;
        }

    }
}


.app-header-status-icon{
    font-size: 20px;
}

.app-menu-toggle{
    position: fixed; 
    z-index: 9999999999999999; 
    bottom: 15px;
    right: 15px; 
    background-color: $brand-primary;
    cursor: pointer;

    i{
        font-size: 20px;
    }
}


@media print {
    @page {
        margin: 1cm; /* adjust to your preferred margin */
     }

    .app-header,
    .app-navigation,
    .app-menu-toggle,
    section,
    mat-card {
        display: none;
    }

    .app-drawer-container{
        height: 100%;
    }

    body {
        overflow: visible;
    }
}
