@import './../_styles/variables.scss';

.tables-all-table-view-card {
    display: inline-block;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(250, 247, 247, .5);
    margin: 0px 10px 15px;
}