@import './../_styles/variables.scss';

.tables-all-table-container{
    display: flex;
    overflow-x: auto;
}

.tables-all-table-view-card {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 15px;
    padding-top: 30px;
    margin: 15px 10px;
    min-width: 250px;
    cursor: pointer;
}

.tables-all-table-view-card.active {
    border: 2px solid $green;
    background-color: $green30;

    .tables-all-table-view-card-number {
        border: 2px solid $green;
    }
}

.tables-all-table-view-card.not-active {
    border: 2px solid $red;
    background-color: $red30;

    .tables-all-table-view-card-number {
        border: 2px solid $red;
    }
}

.tables-all-table-view-card-number {
    background-color: $white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}