<div class="tables-all-table-container">
    <ng-container *ngFor="let table of tables">
        <div *ngIf="table.floorPlan === floorNumber" class="tables-all-table-view-card" (dblclick)="toggleActive(table)"
            [ngClass]="table.isActive ? 'active' : 'not-active' ">
            <div class="tables-all-table-view-card-number"
                [style.background-image]="'url(' + getEmployeeImgUrlById(table.assignedEmployeeId) + ')'">
                <div class="table-number" [ngStyle]="{ 'background-color': table.isActive ? '#22C795' : '#EB5B5B' }">
                    {{ table.tableNumber }}
                </div>
            </div>
            <div class="tables-all-table-view-content">
                <span>Shape:</span>
                <span>{{table.shape}}</span>
            </div>
            <div class="tables-all-table-view-content">
                <span>Seats:</span>
                <span>{{table.seats}} people</span>
            </div>
            <div class="tables-all-table-view-content">
                <span>Floor Plan:</span>
                <span>{{table.floorPlan}} Floor</span>
            </div>
            <div class="tables-all-table-view-content">
                <span>Employee:</span>
                <span [ngClass]="{'red-text': table.assignedEmployeeId == null}">
                    {{getEmployeeNameById(table.assignedEmployeeId)}}
                </span>
            </div>
            <div class="tables-all-table-edit" (click)="editTable(table)"><i class="fa-solid fa-pen-to-square"></i>
            </div>
            <div class="tables-all-table-delete" (click)="deleteTable(table)"><i class="fa-solid fa-trash-can"></i>
            </div>
        </div>
    </ng-container>
</div>