<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" novalidate>
  <h1 mat-dialog-title>Create a Reservation</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" style="margin-top: 5px;">
      <mat-label>Name:</mat-label>
      <input type="text" formControlName="name" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number:</mat-label>
      <input type="text" formControlName="phoneNumber" matInput required (input)="formatPhoneNumber()">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Total Party:</mat-label>
      <input type="number" formControlName="totalParty" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date:</mat-label>
      <input type="date" formControlName="date" matInput required (change)="onDateChange()">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Time:</mat-label>
      <mat-select formControlName="time" [disabled]="!reservationForm.get('date').value">
        <mat-option *ngFor="let time of timeOptions" [value]="time"
          [class.bg-green]="getBackgroundColorClass(time) === 'bg-green'"
          [class.bg-yellow]="getBackgroundColorClass(time) === 'bg-yellow'"
          [class.bg-red]="getBackgroundColorClass(time) === 'bg-red'" [disabled]="isTimeSlotFull(time)">
          <div class="reservation-option">
            <span>
              {{ time }}
            </span>
            <span>
              ({{ getReservationCountForTime(time) }}/{{ maxOverLappingReservations }})
            </span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions style="justify-content: space-between;">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!reservationForm.valid">Create</button>
  </div>
</form>