
@import '../../../_styles/variables.scss';

mat-form-field {
    width: 100%;
}

.bg-green {
    background-color: $green30;
}

.bg-yellow {
    background-color: $yellow30;
}

.bg-red {
    background-color: $red30;
}

.reservation-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 160px;
}

.reservation-option span {
    flex: 1;

    &:first-of-type {
        text-align: left;
    }

    &:last-of-type {
        text-align: right;
    }
}

.reservation-option span:last-of-type {
    font-style: italic;
    font-size: 14px;
    color: $black;
}