<app-header iconClass="fa-solid fa-calendar" title="Schedule Dashboard">
  <mat-card appearance="outlined" style="margin-top: 5px;">
    <mat-card-content>
      <!-- buttons to increment or decrement the dates by one week -->
      <label class="schedule-label">Adjust the dates:</label>
      <mat-button-toggle-group name="weekAdjuster" aria-label="Adjust the weeks">
        <mat-button-toggle (click)="decrementWeek()"><i class="fa-solid fa-minus"></i> 1 Week</mat-button-toggle>
        <mat-button-toggle (click)="incrementWeek()"><i class="fa-solid fa-plus"></i> 1 Week</mat-button-toggle>
        <mat-button-toggle (click)="onPrint()"><i class="fa-solid fa-print"></i> Print</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-mini-fab class="mass-text" color="primary" matTooltip="Mass Text" (click)="sendOutText()" style="margin-right: 15px;" [disabled]="noSchedules()">
        <i class="fa-solid fa-comment"></i>
      </button>   
      <button mat-mini-fab class="mass-text" color="primary" matTooltip="Mass Email" (click)="sendOutEmail()" style="margin-right: 15px;" [disabled]="noSchedules()">
        <i class="fa-solid fa-envelope"></i>
      </button>      
      <label class="schedule-label">Select your view:</label>
      <mat-radio-group [(ngModel)]="selectedView">
        <mat-radio-button color="primary" *ngFor="let option of views" [value]="option" [disabled]="option === 'Horizontal' && isHorizontalModeDisabled">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
      <h3 class="schedule-range">From: <i>{{formatDate(populatedSchedulesWithDates[0]?.date)}}</i> | To:
        <i>{{formatDate(populatedSchedulesWithDates[13]?.date)}}</i></h3>
    </mat-card-content>
  </mat-card>
</app-header>

<ng-container *ngIf="selectedView == 'Vertical'">
  <div *ngFor="let day of populatedSchedulesWithDates; let i = index">
    <div class="schedule-dashboard-date">
      <div>
        <span class="schedule-weekly-schedule-name">
          {{formatDate(day?.date)}}
        </span>
        <div class="schedule-employee-count">
          Employees working: ({{getEmployeeCount(day)}})
        </div>
      </div>
      <div>
        <button color="primary" class="schedule-dashboard-date-add-button"
          (click)="createSchedule(day?.date); $event.stopPropagation()" mat-raised-button
          matTooltip="Schedule an Employee">
          <i class="fa-solid fa-calendar-plus"></i>
        </button>
      </div>
    </div>
    <div class="schedule-dashboard-schedule-none" *ngIf="day.schedule?.length < 1">
      There are no employees scheduled for this day.
    </div>
    <ng-container *ngFor="let schedule of day.schedule; let j = index">
      <div class="schedule-dashboard-schedule-card" *ngIf="schedule">
        <div>
          <div class="schedule-dashboard-name">
            <span>{{getEmployeeName(schedule.employeeId)}}</span>
            <i *ngIf="schedule.note" matTooltip="{{schedule.note}}" matTooltipPosition="above"
              class="fa-solid fa-circle-info"></i>
          </div>
          <div class="schedule-dashboard-hours">Hours: {{schedule.startTime | convertToAMorPM}} -
            {{schedule.endTime | convertToAMorPM}}</div>
        </div>
        <div class="schedule-dashboard-icons">
          <div (click)="editSchedule(schedule, j, i)"><i class="fa-solid fa-pen-to-square"></i></div>
          <div (click)="deleteSchedule(schedule, j, i)"><i class="fa-solid fa-trash-can"></i></div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="selectedView == 'Horizontal'">
  <div class="schedule-weekly-schedule">
    <ng-container *ngFor="let day of populatedSchedulesWithDates; let i = index">
      <div class="schedule-weekly-schedule-day">
        <div class="schedule-weekly-schedule-name">{{formatDate(day?.date)}}</div>
        <div class="schedule-employee-count">
          Employees working: ({{getEmployeeCount(day)}})
        </div>
        <div>
          <button color="primary" class="schedule-dashboard-date-add-button horizontal"
            (click)="createSchedule(day?.date); $event.stopPropagation()" mat-raised-button
            matTooltip="Schedule an Employee">
            <i class="fa-solid fa-calendar-plus"></i>
          </button>
        </div>
        <div class="schedule-weekly-schedule-none" *ngIf="day.schedule?.length < 1">
          Empty
        </div>
        <ng-container *ngFor="let schedule of day.schedule; let j = index">
          <div class="schedule-weekly-schedule-card" *ngIf="schedule">
            <div>
              <div class="schedule-weekly-name">
                <span>{{getEmployeeName(schedule.employeeId)}}</span>
                <i *ngIf="schedule.note" matTooltip="{{schedule.note}}" matTooltipPosition="above"
                  class="fa-solid fa-circle-info"></i>
              </div>
              <hr>
              <div class="schedule-weekly-hours">
                <div class="schedule-weekly-hours-container">
                  <div>Start:</div>
                  <div>
                    {{schedule.startTime | convertToAMorPM}}
                  </div>
                </div>
                <div class="schedule-weekly-hours-container">
                  <div>End:</div>
                  <div>
                    {{schedule.endTime | convertToAMorPM}}
                  </div>
                </div>
              </div>
            </div>
            <div class="schedule-dashboard-icons">
              <div (click)="editSchedule(schedule, j, i)"><i class="fa-solid fa-pen-to-square"></i></div>
              <div (click)="deleteSchedule(schedule, j, i)"><i class="fa-solid fa-trash-can"></i></div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>