.step-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  mat-form-field {
    margin-top: 5px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  :host ::ng-deep .mat-stepper-horizontal .mat-step-label {
    display: none !important;
  }
}
