@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/*Colors*/
$brand-primary: #35B9DF;

$green: #22C795;
$red: #EB5B5B;

$white: #fff;
$black: #000000;
$text-muted: #D8D8D8;


/*Fonts*/
$font1: 'Roboto', sans-serif;