//Colors
$brand-primary: #33B9DF;
$brand-secondary: #211A1D;
$brand-tertiary: #6c757d;

//Fonts
$font1: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";