@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/*Colors*/
$brand-primary: #35B9DF;
$brand-secondary: #000000;

$white: #fff;
$text-muted: #D8D8D8;

/*Fonts*/
$font1: 'Roboto', sans-serif;