<h1><i class="fas fa-user"></i>Punch Clock Dashboard</h1>

<div class="punch-clock-dashboard-container">
    <div class="punch-clock-dashboard-container-half">
        <h2>
            Employees:
        </h2>
        <ng-container *ngFor="let employee of Employees; let i = index">
            <div class="punch-clock-dashboard-container-half-all-employees"
                *ngIf="employee.employeed && !employee.clockedIn">
                <!--Outline border based off hire status-->
                <div class="punch-clock-dashboard-card">
                    <div class="punch-clock-dashboard-card-body">

                        <img class="punch-clock-dashboard-card-header-profile"
                            [ngClass]="{ 'green': employee.clockedIn }" src="{{employee.imgUrl}}">
                        <div>
                            <div class="punch-clock-dashboard-card-header-name">
                                <span>{{employee.name | titlecase}}</span>
                                <span class="punch-clock-dashboard-card-header-color"
                                    [style.background-color]="employee.color"></span>
                            </div>
                            <div class="punch-clock-dashboard-card-header-position">{{employee.position | titlecase}}
                            </div>
                        </div>
                        <div class="punch-clock-dashboard-card-punch-in" (click)="onTriggerSheetClick(employee)">
                            <i class="fa-solid fa-fingerprint"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- Second loop -->
    <div class="punch-clock-dashboard-container-half">
        <h2>
            Clocked in:
        </h2>
        <ng-container *ngFor="let employee of Employees; let i = index">
            <div class="punch-clock-dashboard-container-half-all-employees"
                *ngIf="employee.employeed && employee.clockedIn">
                <div class="punch-clock-dashboard-card">
                    <div class="punch-clock-dashboard-card-body">
                        <img class="punch-clock-dashboard-card-header-profile"
                            [ngClass]="{ 'green': employee.clockedIn }" src="{{employee.imgUrl}}">
                        <div>
                            <div class="punch-clock-dashboard-card-header-name">
                                <span>{{employee.name | titlecase}}</span>
                                <span class="punch-clock-dashboard-card-header-color"
                                    [style.background-color]="employee.color"></span>
                            </div>
                            <div class="punch-clock-dashboard-card-header-position">{{employee.position | titlecase}}
                            </div>
                        </div>
                        <div class="punch-clock-dashboard-card-punch-out" (click)="onTriggerSheetClick(employee)">
                            <i class="fa-solid fa-fingerprint"></i>
                        </div>
                    </div>
                    <div *ngIf="employee.clockedIn" class="punch-clock-dashboard-card-clock-in-time">
                        <h2>
                            Clocked in at: {{ clockInTimes.get(employee.id) | clockInTime }}
                        </h2>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>