<app-header iconClass="fa-solid fa-stopwatch" title="Punch Clock Dashboard">
    <h2 style="margin-bottom: 0px !important; margin-top: 5px !important; text-align: center;">Current Time:
        {{currentTime}}</h2>
</app-header>

<div class="punch-clock-dashboard-container">
    <div class="punch-clock-dashboard-container-half">
        <h2>
            Employees:
        </h2>
        <ng-container *ngFor="let employee of Employees; let i = index">
            <div class="punch-clock-dashboard-container-half-all-employees"
                *ngIf="employee.employeed && !employee.clockedIn">
                <!--Outline border based off hire status-->
                <div class="punch-clock-dashboard-card">
                    <div class="punch-clock-dashboard-card-body">

                        <img class="punch-clock-dashboard-card-header-profile"
                            [ngClass]="{ 'green': employee.clockedIn }" src="{{employee.imgUrl}}">
                        <div>
                            <div class="punch-clock-dashboard-card-header-name">
                                <span>{{employee.name | titlecase}}</span>
                            </div>
                            <div class="punch-clock-dashboard-card-header-position">{{employee.position | titlecase}}
                            </div>
                        </div>
                        <div class="punch-clock-dashboard-card-punch-in" (click)="onTriggerSheetClick(employee)">
                            <i class="fa-solid fa-fingerprint"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- Second loop -->
    <div class="punch-clock-dashboard-container-half">
        <h2>
            Clocked in:
        </h2>
        <ng-container *ngFor="let employee of Employees; let i = index">
            <div class="punch-clock-dashboard-container-half-all-employees"
                *ngIf="employee.employeed && employee.clockedIn">
                <div class="punch-clock-dashboard-card">
                    <div class="punch-clock-dashboard-card-body">
                        <img class="punch-clock-dashboard-card-header-profile"
                            [ngClass]="{ 'green': employee.clockedIn }" src="{{employee.imgUrl}}">
                        <div>
                            <div class="punch-clock-dashboard-card-header-name">
                                <span>{{employee.name | titlecase}}</span>
                            </div>
                            <div class="punch-clock-dashboard-card-header-position">{{employee.position | titlecase}}
                            </div>
                        </div>
                        <div class="punch-clock-dashboard-card-punch-out" (click)="onTriggerSheetClick(employee)">
                            <i class="fa-solid fa-fingerprint"></i>
                        </div>
                    </div>
                    <div *ngIf="employee.clockedInTime" class="punch-clock-dashboard-card-clock-in-time">
                        <h2>Clocked In Time: {{employee.clockedInTime.toDate() | date: 'h:mm a'}}</h2>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>