<button mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<h1><i class="fas fa-user"></i>Dashboard</h1>
<mat-list *ngIf="(user | async)">
    <mat-list-item>Id: {{ userId }}</mat-list-item>
    <mat-list-item>Account Type: {{ (user | async)?.accountType }}</mat-list-item>
    <mat-list-item>Owner: {{ (user | async)?.owner }}</mat-list-item>
    <mat-list-item>Location Name: {{ (user | async)?.location_name }}</mat-list-item>
    <mat-list-item>Email (lower): {{ (user | async)?.email_lower }}</mat-list-item>
    <mat-list-item>Phone (lower): {{ (user | async)?.phone }}</mat-list-item>
    <mat-list-item>Total Jobs (lower): {{ (user | async)?.openings }}</mat-list-item>
    <mat-list-item>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</mat-list-item>
</mat-list>

<div style="background-color: grey; border-radius: 3px; margin-top: 15px;">
    <h1>This is ALL the jobs</h1>
    
    <div *ngFor="let job of Jobs; let i = index" style="background-color: yellow; border-radius: 3px; margin: 10px; padding: 10px;">
        <div><h1>{{job.uid}}</h1></div>
        <div>{{job.id}}</div>
        <div>{{job.employeerId}}</div>
        <div>{{job.title}}</div>
        <div>{{job.location}}</div>
        <div>{{job.desciption}}</div>
        <div>{{job.school}}</div>
        <div>{{job.hours}}</div>
        <div>{{job.phone}}</div>
        <div>{{job.email}}</div>
        <div>{{job.hired}}</div>
        <div>
            <button (click)="removeJob(job)" mat-raised-button>Delete</button>
        </div>
        <div>
            <button routerLink="/update-job/{{job.id}}" mat-raised-button>Edit</button>
        </div>
    </div>
</div>