<h1><i class="fas fa-user"></i>Dashboard</h1>
<mat-list *ngIf="(user | async)">
    <mat-list-item>Id: {{ userId }}</mat-list-item>
    <mat-list-item>Account Type: {{ (user | async)?.accountType }}</mat-list-item>
    <mat-list-item>IsPaying: {{ (user | async)?.isPaying }}</mat-list-item>
    <mat-list-item>Owner: {{ (user | async)?.owner }}</mat-list-item>
    <mat-list-item>Location Name: {{ (user | async)?.location_name }}</mat-list-item>
    <mat-list-item>Email (lower): {{ (user | async)?.email_lower }}</mat-list-item>
    <mat-list-item>Phone {{ (user | async)?.phone }}</mat-list-item>
    <mat-list-item>Website: {{ (user | async)?.website }}</mat-list-item>
    <mat-list-item>Total Jobs: {{ (user | async)?.openings }}</mat-list-item>
    <mat-list-item>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</mat-list-item>
</mat-list>

<div class="dashboard-container">
    <h1>Client Openings</h1>

    <div *ngFor="let job of Jobs; let i = index">
        <!--Outline border based off hire status-->
        <mat-card [ngClass]="{'border-red': job.hired === false, 'border-green' : job.hired === true }" class="dashboard-job-card">
            <div class="dashboard-job-card-content">
                <div>
                    <mat-card-title>{{job.title}}</mat-card-title>
                    <mat-card-subtitle>{{job.location}}</mat-card-subtitle>
                    <mat-card-content>
                        <div>Desciption: {{job.description}}</div>
                        <div>Hours: {{job.hours}}</div>
                        <div>Hired Status: {{job.hired}}</div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Error Handling
                                </mat-panel-title>
                                <mat-panel-description>
                                    When opening an issue, report on bugs using these ID's as reference
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>Job Id: {{job.id}}</div>
                            <div>User: {{job.uid}}</div>
                        </mat-expansion-panel>
                    </mat-card-content>
                </div>

                <div class="dashboard-job-card-actions">
                    <button mat-raised-button matTooltip="{{job.phone}}" aria-label="{{job.phone}}">
                        <i class="fa-solid fa-phone-volume"></i> </button>
                    <button mat-raised-button matTooltip="{{job.email}}" aria-label="{{job.email}}">
                        <i class="fa-solid fa-envelope"></i> </button>
                    <button routerLink="/update-job/{{job.id}}" mat-raised-button>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button (click)="removeJob(job)" mat-raised-button>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>