@import '../../../_styles/variables.scss';

mat-form-field {
    width: 100%;
}

.create-schedule-from-date-image {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}


.scheduled {
    background-color: $yellow !important;
}

.time-off {
    background-color: $red !important;
    color: white !important;
    cursor: not-allowed;
    pointer-events: none;
}