@import './../_styles/variables.scss';

.waitlist-container {
    margin: 15px;
}

.waitlist-form {
    display: flex;
    justify-content: space-between;

    div {
        margin-right: 10px;
    }
}


.waitlist-card {
    position: relative;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(250, 247, 247, .5);
    margin-bottom: 15px;
}


.waitlist-card-name {
    font-size: 20px;
    color: $black;
    font-weight: 600;
    margin-bottom: 5px;
}

.waitlist-card-content{
    font-size: 14px;

    b{
        text-transform: uppercase;
    }
}

.waitlist-card-delete {
    font-size: 20px;
    color: $brand-primary;
    cursor: pointer;
}

.waitlist-card-eta{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-style: italic;
}

.primary{
    color: $brand-primary;
    text-decoration: none;
    margin-left: 5px;
}
