<div class="tables-employee-view-container">
    <i *ngIf="!getObjectKeys(employeesWithTables).length" class="tables-employee-view-empty">There are no employees clocked in</i>
    <ng-container *ngFor="let employeeId of getObjectKeys(employeesWithTables)">
        <ng-container *ngIf="employeesWithTables[employeeId].employeed && employeesWithTables[employeeId].clockedIn">
            <div class="tables-employee-view-card">
                <div class="tables-employee-view-card-body">
                    <div style="display: flex">
                        <img class="tables-employee-view-card-header-profile"
                            [ngClass]="{ 'green': employeesWithTables[employeeId].clockedIn }"
                            src="{{employeesWithTables[employeeId].imgUrl}}">
                        <div class="tables-employee-view-card-header-name">
                            <div>{{employeesWithTables[employeeId].name | titlecase}}</div>
                            <div class="tables-employee-view-card-header-position">
                                {{employeesWithTables[employeeId].position | titlecase}}
                            </div>
                        </div>
                    </div>
                    <div class="tables-employee-view-card-serving">
                        <i *ngIf="!getFloors(employeesWithTables[employeeId].assignedTables).length">There are no tables assigned to this employee atm</i>
                        <ng-container *ngFor="let floor of getFloors(employeesWithTables[employeeId].assignedTables)">
                            <h3 class="floor-header">Floor {{ floor }}:</h3>
                            <div class="table-container">
                                <div *ngFor="let table of getTablesByFloor(employeesWithTables[employeeId].assignedTables, floor)"
                                class="table-item"
                                [ngClass]="{'active-table': table.isActive, 'inactive-table': !table.isActive}">
                                <div (dblclick)="toggleActive(table)">
                                    <div class="table-item-content"><b>{{table.tableNumber}}</b></div>
                                </div>
                            </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
