<div class="tables-employee-view-container">
    <i *ngIf="!getObjectKeys(employeesWithTables).length">There are no employees clocked in</i>
    <ng-container *ngFor="let employeeId of getObjectKeys(employeesWithTables)">
      <ng-container *ngIf="employeesWithTables[employeeId].employeed && employeesWithTables[employeeId].clockedIn">
        <div class="tables-employee-view-card">
          <div class="tables-employee-view-card-body">
            <div style="display: flex">
              <img class="tables-employee-view-card-header-profile" [ngClass]="{ 'green': employeesWithTables[employeeId].clockedIn }"
                src="{{employeesWithTables[employeeId].imgUrl}}">
              <div class="tables-employee-view-card-header-name">
                <div>{{employeesWithTables[employeeId].name | titlecase}}</div>
                <div class="tables-employee-view-card-header-position">
                  {{employeesWithTables[employeeId].position | titlecase}}
                </div>
              </div>
            </div>
            <div class="tables-employee-view-card-serving">
              <i *ngIf="employeesWithTables[employeeId].assignedTables.length">Currently Serving:</i>
              <i *ngIf="!employeesWithTables[employeeId].assignedTables.length">There are no tables assigned to this employee atm</i>
              <ul *ngIf="employeesWithTables[employeeId].assignedTables.length">
                <div *ngFor="let table of employeesWithTables[employeeId].assignedTables">
                    <div (click)="editTable(table)">Table {{table.tableNumber}}, Floor {{table.floorPlan}}</div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  