@import './../_styles/variables.scss';

.tables-employee-view-container {
    max-height: 500px;
    overflow: scroll;
}

.tables-employee-view-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.tables-employee-view-container::-webkit-scrollbar-thumb {
    background-color: $text-muted;
    border-radius: 6px;
}

.tables-employee-view-card {
    border: 1px solid $brand-primary;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: none;
    background-color: $white;
    position: relative;

    &:hover {
        background: transparent !important;
    }
}

.tables-employee-view-empty{
    font-style: italic;
    margin-bottom: 15px;
    font-size: 14px;
    color: $text-muted;
}

.tables-employee-view-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.tables-employee-view-card-header-profile {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: 5px solid $red;
}

.tables-employee-view-card-header-profile.green {
    border: 5px solid $green;
}

.tables-employee-view-card-header-name {
    font-size: 1rem;
    color: $black;
    font-weight: 600;
    margin: auto 16px;

    span {
        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.tables-employee-view-card-header-position {
    font-size: .75rem;
    color: $grey;
    font-weight: 600;
    text-transform: capitalize;
}

.tables-employee-view-card-punch-in,
.tables-employee-view-card-punch-out {
    background-color: $green;
    color: $white;
    border-radius: 50%;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px $white;
    margin-left: auto;
}

.tables-employee-view-card-punch-out {
    background-color: $red;
}

.tables-employee-view-card-clock-in-time {
    background-color: $brand-primary;
    font-weight: 700;
    color: $white;
    margin-top: auto;
    margin: 15px -15px -31px;
    text-align: center;
}

.tables-employee-view-card-serving {
    font-size: .875rem;
    width: 40%;
    text-align: center;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
}

.table-item {
    cursor: pointer;
    flex-basis: calc(33.3333% - 10px); /* Takes up third of the container width minus the margin */
    box-sizing: border-box;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid $brand-primary;
}

.active-table {
    background-color: $green;
}

.inactive-table {
    background-color: $red;
}

.table-item:hover.active-table {
    transition: .2s;
    background-color: rgba(34, 199, 149, 0.7);
}

.table-item:hover.inactive-table {
    transition: .2s;
    background-color: rgba(235, 91, 91, 0.7);
}

.table-item-content {
    i {
        display: inline-block;
        margin-right: 5px;
    }
}

.table-item-hr {
    border: .5px solid $black;
}

.floor-header {
    text-decoration: underline;
    margin-bottom: 0px;
  }
